<div
  class="max-w-xs bg-white rounded-2xl shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 border border-gray-200"
>
  <img
    class="w-full h-48 object-contain bg-gray-100 p-4"
    [src]="pokemon().imgUrl"
    [alt]="pokemon().name"
  />
  <div class="p-4 text-center">
    <h2 class="text-xl font-bold text-gray-800">{{ pokemon().name }}</h2>

    <button
      (click)="toggleFavorite()"
      class="cursor-pointer mt-3 px-4 py-2 bg-yellow-400 hover:bg-yellow-500 text-white font-semibold rounded-lg shadow transition duration-300"
    >
      ⭐ {{ isFavorite() ? "Favorito" : "Add to favorites" }}
    </button>
  </div>
</div>
