<div class="max-w-md mx-auto bg-white rounded-2xl shadow-lg p-6 space-y-4">
  <div class="flex items-center gap-4">
    <img
      class="w-28 h-28 object-contain"
      [src]="pokemon().imgUrl"
      [alt]="pokemon().name"
    />
    <div>
      <h1 class="text-2xl font-bold capitalize">{{ pokemon().name }}</h1>
      <p class="text-gray-500">#{{ pokemon().id }}</p>
      <div class="flex gap-2 mt-1">
        @for (type of pokemon().types; track type) {
        <span
          class="px-2 py-1 text-xs rounded-full text-white"
          [ngClass]="getTypeColor(type)"
        >
          {{ type }}
        </span>
        }
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-lg font-semibold mb-2">Stats</h2>

    @for (stat of pokemon().stats; track stat) {
    <div class="flex justify-between text-sm mb-1">
      <span class="capitalize">{{ stat.stat }}</span>
      <span>{{ stat.baseStat }}</span>
    </div>
    <div class="w-full bg-gray-200 rounded-full h-3">
      <div
        class="bg-green-500 h-3 rounded-full"
        [style.width.%]="(stat.baseStat / 255) * 100"
      ></div>
    </div>
    }
  </div>

  <!-- Extra info -->
  <div class="grid grid-cols-2 gap-4 text-sm text-gray-700">
    <div>
      <span class="font-medium">Height:</span> {{ pokemon().height / 10 }} m
    </div>
    <div>
      <span class="font-medium">Weight:</span> {{ pokemon().weight / 10 }} kg
    </div>
    <div>
      <span class="font-medium">Base Exp:</span> {{ pokemon().baseExperience }}
    </div>
    <div>
      <span class="font-medium">Abilities:</span>

      @for (ability of pokemon().abilities; track ability; let idx = $index) {
      <span>
        &nbsp;{{ ability }}@if ( idx < pokemon().abilities.length - 1) { , }
      </span>
      }
    </div>
  </div>
</div>
